{% extends 'base.html.twig' %}

{% block title %} Пользователи {% endblock %}
{% block body %}
    <h2>ТЗ User Bundle</h2>
    <ol>
        <li>Регистрация/Авторизация/Аутентификация</li>
        <ul>
            <li>Через соц. сети</li>
            <li>Через login/password (+ для безопасной - подтверждение смс-кода)</li>
        </ul>
        <li>Восстановление пароля</li>
        <ul>
            <li>Через СМС</li>
            <li>Через e-mail</li>
        </ul>
        <li>Профиль</li>
        <ul>
            <li>Анкета</li>
            <li>Аватарка</li>
            <li>Управление автарками</li>
        </ul>
        <li>Настройки</li>
        <ul>
            <li>Безопасная авторизация</li>
            <li>Список соц. сетей</li>
            <li>Смена пароля</li>
        </ul>
        <li>Управление пользователями</li>
        <ul>
            <li>Система привелегий</li>
            <li>CRUD с пользователями</li>
        </ul>
    </ol>
    {{ dump(users) }}
{% endblock %}