{% extends "::base.html.twig" %}

{% block title %}UserBundle:Registration:index{% endblock %}

{% block body %}
    <h1>Welcome to the Registration:index page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Registry</button>
    {{ form_end(form) }}
{% endblock %}
