{% extends 'base.html.twig' %}

{% block title %} Управление привилегиями - Спиоск {% endblock %}
{% block body %}
    <h2>Админка UserBundle - Список привилегий</h2>
    <p><a href="/admin">назад</a></p>
{% endblock %}