{% extends 'base.html.twig' %}

{% block title %} Управление пользователями {% endblock %}
{% block body %}
    <h2>Админка UserBundle</h2>
    <ol>
        <li><a href="/admin/users">Управление пользователями</a></li>
        <li><a href="/admin/roles">Управление ролями</a></li>
    </ol>
{% endblock %}