{% extends 'base.html.twig' %}

{% block title %} Управление пользователями - Список {% endblock %}
{% block body %}
    <h2>Админка UserBundle - Список пользователей</h2>
    <p><a href="/admin">назад</a></p>
{% endblock %}